
body, h1, p, input, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: url('https://pixabay.com/vectors/image-8094131/');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.answer-box {
    display: flex;
    justify-content: space-between;
}

.answer {
    width: 25%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
}
